[data-collapse-state="expanded"] {
    display: inline-block;
}

[data-collapse-state="collapsed"] {
    display: none;
}

.container-collapsed-column-marker {
    display: none;
}

.collapsed {
    [data-collapse-state="expanded"] {
        display: none;
    }

    [data-collapse-state="collapsed"] {
        display: inline-block;
    }

    .container-collapsed-column-marker {
        display: block;
    }

    .t3-page-ce {
        display: none;
    }

    .t3-page-ce-wrapper {
        display: none;
    }
}
